src/test/resources/test-extension-mule-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"

      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/metadata http://www.mulesoft.org/schema/mule/metadata/current/mule-metadata.xsd">

    <metadata:config name="configOne" configTwo="hola">
        <metadata:connection/>
    </metadata:config>

    <flow name="operationOne">
        <try transactionalAction="ALWAYS_BEGIN">
            <metadata:operation-one paramOne="one" paramTwo="two" transactionalAction="ALWAYS_JOIN" />
            <logger level="ERROR"/>
        </try>
    </flow>

    <flow name="options">
        <metadata:operation-with-options integer="14" other="#['this is a expression value']" channels="channels"/>
    </flow>

    <!--<flow name="doorOperation">-->
        <!--<metadata:operation-door door="someDoor" tra>-->
            <!--<metadata:some-door paramOne="para1" paramTwo="para22"/>-->
        <!--</metadata:operation-door>-->
    <!--</flow>-->

    <flow name="listener" >
        <metadata:source-one/>
        <metadata:operation-one paramOne="one" paramTwo="two" transactionalAction="ALWAYS_JOIN" />
        <logger level="ERROR" message="this is avalue"/>
    </flow>
</mule>
